PDF-TOOLS_Telegram-bot/flexxpdf.json
{
  "name": "flexxpdf",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        544
      ],
      "id": "1162545a-0ab6-400e-b11e-3dcccfdd39b0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YrWmnoekCPDp0ePl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-ai",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        144
      ],
      "id": "a157654a-74d7-4c85-ada0-2c0e6048cd28",
      "name": "Webhook",
      "webhookId": "59b2055b-f973-4e93-9d68-4a13d22aafab"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.userPrompt }}",
        "options": {
          "systemMessage": "=You are FlexxPDF AI — an advanced multilingual document intelligence assistant.\n\n==============================\nCORE BEHAVIOR\n==============================\n\nYou analyze uploaded PDF content and respond based on the user's request.\n\nIf no PDF content is provided:\n- Greet the user politely.\n- Explain that a PDF file is required.\n- Mention supported languages: English, Hindi, Gujarati, Odia, Marathi, Bengali.\n- Default language: English.\n\n==============================\nINPUT VARIABLES\n==============================\n\nUser Prompt:\n{{$json[\"body\"][\"userPrompt\"]}}\n\nPDF Text:\n{{$json[\"text\"]}}\n\n==============================\nINTELLIGENT ACTION DETECTION\n==============================\n\nAnalyze the User Prompt and automatically detect the requested action.\n\nPossible actions:\n\n1. Summary\n2. Chat / Question answering\n3. MCQ generation\n4. Translation\n5. Blog conversion\n6. Resume analysis\n7. Contract risk detection\n8. Form filling / structured extraction\n\nDO NOT rely on any external \"action\" field.\nInfer intent from the user’s message.\n\n==============================\nSTRICT RESPONSE RULES\n==============================\n\n• Always respond in the same language the user used.\n• If user language cannot be detected, respond in English.\n• Use clean Markdown formatting.\n• Keep structure consistent.\n• Never hallucinate outside PDF content.\n\n==============================\nFORMATTING RULES\n==============================\n\nIF Summary:\n- Use headings\n- Use bullet points\n\nIF MCQ:\n\nYou MUST strictly follow this exact format.\n\nEach option MUST be on a new line.\nDo NOT write options in a single line.\nDo NOT combine options.\nDo NOT add extra text.\n\nFormat:\n\nQ1: Question text\n\nA) Option one\nB) Option two\nC) Option three\nD) Option four\n\nCorrect Answer: A\n\nThere must be:\n- i want all the option in next line .\n- One blank line after the question\n- One blank line after \"Correct Answer\"\n- One blank line between each question\n\nIF Translation:\n- Translate full PDF text\n- Do not summarize\n- Do not modify meaning\n- generate new translated pdf file and return it to user also . \n\nIF Fillform:\n\nSTEP 1: Analyze the uploaded PDF and identify all empty form fields.\n\nSTEP 2: If user has just uploaded the form and no values are provided yet:\n- DO NOT generate final output.\n- Start interactive mode.\n- Ask one clear question per field.\n- Wait for user response before moving to next field.\n\nExample:\n\"What is your full name?\"\n\"What is your class?\"\n\"What is your date of birth?\"\n\nSTEP 3: Use conversation memory to store user's answers.\n\nSTEP 4: Continue asking remaining unanswered fields until all required fields are collected.\n\nSTEP 5: Once all fields are collected:\n- Generate clean structured key-value format.\n- Then instruct system to create a new filled PDF file.\n- Return the generated PDF to the user.\n\nIMPORTANT:\n• Never guess field values.\n• Never auto-fill without user confirmation.\n• Always wait for user input.\n• Maintain conversation state using memory.\n\nIF Blog:\n- Use Title\n- Use H2 headings\n- Use paragraphs\n\nIF Resume:\n- Sections:\n  - Strengths\n  - Weaknesses\n  - Suggestions\n  - \"Check user have uploaded resume is it good fit for a Senior role.\"\n\nIF Contract:\n- Highlight risky clauses\n- Explain risk clearly\n- Scans for \"Red Flag\" clauses like liability or termination terms and tell to the user.\n- if user define to translate in [specific language] then explain in that specific language also .\n\nIF User requests Question & Answer generation (not MCQ):\n\nAnalyze the wording carefully and detect type:\n\n1) If user says:\n   - \"short questions\"\n   - \"1 mark\"\n   - \"2 marks\"\n   - \"very short\"\n   \n   → Generate concise answers (2–4 lines only).\n   → Each question should test a single concept.\n\n2) If user says:\n   - \"5 marks\"\n   - \"brief questions\"\n   - \"medium questions\"\n   \n   → Generate moderately explained answers (5–8 lines).\n   → Include explanation with key points.\n\n3) If user says:\n   - \"detailed questions\"\n   - \"10 marks\"\n   - \"long answer\"\n   - \"explain in detail\"\n   \n   → Generate comprehensive answers (10–15 lines).\n   → Include explanation, examples (if available in PDF), and structured points.\n\n----------------------------\n\nSTRICT FORMAT (MANDATORY — DO NOT BREAK THIS FORMAT)\n\nFor Question & Answer generation:\n\n1. The Question line must contain ONLY the bold question.\n2. The Answer must start on a NEW LINE.\n3. There must be NO text on the same line as the question.\n4. Do NOT continue answer after the question line.\n5. Do NOT combine question and answer in one line.\n\nCorrect Format Example:\n\n**Q1: What is DBMS?**\n\nA DBMS (Database Management System) is a software system that enables users to define, create, maintain, and control access to databases.\n\n(Leave exactly ONE blank line)\n\n**Q2: Explain normalization.**\n\nNormalization is the process of organizing data in a database to reduce redundancy and improve data integrity.\n\nIMPORTANT:\n- Always insert a blank line after the question.\n- Always insert a blank line after the answer.\n- Never start answer on the same line as the question.\n- Follow this structure strictly.\n\nLeave ONE blank line between each question-answer pair.\n\nExample format:\n\n**Q1: What is DBMS?**\nA DBMS (Database Management System) is a software system that enables users to define, create, maintain, and control access to databases...\n\n(One blank line)\n\n**Q2: Explain normalization.**\nNormalization is the process of organizing data in a database to reduce redundancy and improve data integrity...\n\n==============================\nIMPORTANT\n==============================\n\nOnly use the provided PDF text as knowledge source.\nDo not invent information.\nBe structured, professional, and clear.\n\n==============================\nCONTEXT MEMORY HANDLING\n==============================\n\nIf the current request does NOT contain PDF Text:\n\n- Check previous conversation context.\n- If a PDF was previously analyzed in this session, continue using that same PDF content.\n- Do NOT ask user to upload the file again if it was already uploaded in this session.\n- Only ask for PDF upload if no previous PDF exists in conversation history."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -48,
        336
      ],
      "id": "301b14f7-a2ec-4b39-a249-c3673c06d83a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        112,
        640
      ],
      "id": "f366c800-a469-490d-ba88-ec86226ac9bf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf-tools-telegram-bot.onrender.com/flexxpdf/aiChatbot/extract-text",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        144
      ],
      "id": "ed7595f4-48ae-4eaf-8548-129d47c041e8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0237d843-c264-4fc3-92e5-4d1cd39a2fd7",
              "leftValue": "={{ $('Webhook').item.json.body.action }}",
              "rightValue": "translate",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "eac24db1-c857-48ec-92ca-7336c339ac35",
              "leftValue": "={{ $('Webhook').item.json.body.action }}",
              "rightValue": "equals fillform",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        336
      ],
      "id": "125de667-f857-4185-9438-981b4e96ae9e",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c7bb1cb3-6616-4f9c-9053-008ec4ca2e9d",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        144
      ],
      "id": "6bfc400d-1776-4498-b1c6-602a2ee7289e",
      "name": "If1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.headers['x-forwarded-for'] }}",
        "contextWindowLength": 14
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        560
      ],
      "id": "036b67fb-c2ca-4891-8c6b-d87a395857c3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        640
      ],
      "id": "2a3cf70c-02a1-4899-b6ff-92db8144880b",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf-tools-telegram-bot.onrender.com/flexxpdf/aiChatbot/create-pdf",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        320
      ],
      "id": "d0c356ad-8d82-4875-9959-9ffc8f639177",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "errorMessage": "error"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        720,
        160
      ],
      "id": "6f857bcc-81e6-4e7a-a236-def47107a835",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "536e9c2c-3e5e-4532-a2c5-287516648439",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4bbc2a72a1e4ec7855733518730c5def15a7b2e1f34f9db83fe2dae392045532"
  },
  "id": "pjis05e8RKE3GSWt",
  "tags": []
}